.minipost {
	width: 325px;
	float:left;
	margin: 0px 0px 5px 7px;
	padding:3px 0 0 0;
	background:url(images/minip.jpg) repeat-y;
	display:inline;
	color:#222;
	font-family:Georgia,Arial,verdana, sans-serif;
	}

.minipost h2{
	margin: 0px 0 0px 0;
	padding: 0px 0px 3px 0px;
	text-align: left;
	font-size: 18px;
	overflow:hidden;
	height:18px;
}
.minipost h2 a:link, .minipost h2 a:visited{
	color:#000;
}

.categ{
	line-height:16px;
	font-size:12px;
	height:16px;
	overflow:hidden;

}
.categ a:link,.categ a:visited {
	color:#B22621;

}

.hentry {
	height:200px;
	padding:0px 5px 2px 5px;
	overflow:hidden;
}
.hentry p{
	margin:5px 5px;
	color:#6b7478;

}


.hentry img {
	border:0;
	float:left;
	padding:4px 4px;
	background:#fff;
	border:1px solid #BFBFBF;
	margin:2px 5px 2px 0px;
	}
.minimeta{
	color:#B22621;
	height:25px;
	padding:8px 10px 0 10px;
	background:url(images/minimet.jpg) ;

		
}

.cat{
	float:left;
	font-size:13px;
	color:#226b91;
	padding: 0 0 0 10px;
}


.cat a:link,.cat a:visited{
	color:#235B76;

	}
.cat a:hover{
	color:#2E9FD7;

	}
